<div class="container-fluid">
  <!-- We don't support search just yet!
  <div class="row header">
    <form action="/search" method="GET" class="search">
      <input type="text" name="search" placeholder="Search ...">
    </form>
  </div>
  -->
  <div class="row actions">
    <div class="pull-left">
      <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#upload">
        <i class="glyphicon glyphicon-upload" aria-hidden="true"></i> Upload
      </button>
    </div>
    <div class="pull-right">
      <div class="btn-group btn-group-sm" role="group" aria-label="sorting" id="sort">
        <button type="button" class="btn btn-default active" data-sort="name">Name</button>
        <button type="button" class="btn btn-default" data-sort="size">Size</button>
        <button type="button" class="btn btn-default" data-sort="modified">Modified</button>
      </div>
    </div>
  </div>
  <div class="row files">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th width="104">Modified</th>
          <th width="48">Size</th>
          <th width="86">Actions</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="upload" data-backdrop="false">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Upload New File</h4>
      </div>
      <form class="modal-body">
        <div class="form-group">
          <input id="file-upload" name="file" type="file">
          <div id="errorBlock" class="help-block"></div>
        </div>
      </form>
    </div>
  </div>
</div>

<script id="template" type="text/x-tmpl-mustache">
  {{#files}}
    <tr>
      <td>
        <span title="{{name}}">{{name}}</span>
      </td>
      <td>
        <span title="{{modifiedLong}}">{{modifiedShort}}</span>
      </td>
      <td>
        <span title="{{sizeHuman}}">{{sizeHuman}}</span>
      </td>
      <td>
        <div class="btn-group btn-group-xs" role="group" aria-label="file actions">
          <button type="button" class="btn btn-success" data-file="{{id}}">
            <i class="glyphicon glyphicon-share" aria-hidden="true"></i>
          </button>
          <button type="button" class="btn btn-primary" data-file="{{id}}">
            <i class="glyphicon glyphicon-download" aria-hidden="true"></i>
          </button>
          <button type="button" class="btn btn-danger" data-file="{{id}}">
            <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
          </button>
        </div>
      </td>
    </tr>
  {{/files}}
</script>

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/fileinput.min.js"></script>
<script src="js/filesize.min.js"></script>
<script src="js/mustache.min.js"></script>
<script src="js/moment.min.js"></script>
<script src="js/desk-canvas-all.js"></script>
<script src="js/script.js?v=2"></script>
