<div class="container-fluid">
  <div class="row">
    <div class="alert alert-danger" role="alert">
      <strong>Not Found!</strong> Not sure how you got here, but let me guide you to <a href="/" class="alert-link">the path back home</a>.
    </div>
  </div>
</div>